@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  font-family: "poppins";
  font-size: 14px;
}
.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.bold-header {
  font-weight: bold;
}
